

/* to make "border-size" appear on older browsers*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-family: sans-serif;
    background: #b2b2b2;
    color: #222222;
}

.container {
  margin: 0 auto;
}


/* Custom page header */
header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin-top: 0px;
}

h1.header {
  text-shadow: 1px 1px blue;
  background: aliceblue;
  padding-top: 10px;
  padding-bottom: 5px;
}

.priceBox {
  display: flex;
  flex-wrap: wrap;
}


.section {
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
}

.lambImgs {
  cursor: pointer;
}

.menuRow {
  background-color: rgb(245,229,207);
}

.headerText {
  padding-right: 25px;
}

.pricetag {
    border-style: groove;
    padding: 10px;
    margin: 20px;
    font-size: large;
    border-radius: 10px;
    border-width: 3px;
    background: radial-gradient(circle, #f5f5f5, #ccc, #777);
    color: black;
    border-color: rgba(0, 0, 0, 0.43);
    opacity: 0.7;
}

.modal-body {
  padding-bottom: 0px;
}

.modal-content {
  max-width: 500px;
}

.bokBtn {
  margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 120px;
    margin-left: -60px;
    left: 50%;
}

#soldBtn {
  cursor: default;
}

.submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 140px;
    margin-left: -70px;
    left: 50%;
}

.closeBtn {
  margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 80px;
    margin-left: -40px;
    left: 70%;
}

.namnInput {
  background: grey;
    border-radius: 3px;
    border-color: darkslategrey;
}

.reserveText {
  font-size: large;
}

.textRes {
  margin-bottom: 0px;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 55px;
  margin-bottom: 20px;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.logo {
  margin-top: 30px;
  width: 100px;
  height: 90px;
  border-radius: 50%;
  border-color: #000;
  border-width: 7px;
  border-style: solid;
}

hr {
  border-width: 5px;
  border-color: #bcbbbb;
  margin-bottom: 30px;
  margin-top: 0px;
}

#menu {
  cursor: pointer;
}

figcaption {
  font-weight: bold;
}

span {
  font-style: italic;
  font-weight: 300;
}

.threePicSold {
    opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    max-width: 100%;
}

.threePic {
    opacity: 0.6;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    max-width: 100%;
}

.threePic:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#form {
  margin: 0 auto;
    max-width: 90%;
}


h2 {
  color: #1B0605;
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 37px;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  color: #631E1E;
  font-size: 36px;
}

p {
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
}

.clickable {
    cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
