

/* to make "border-size" appear on older browsers*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
    font-weight: bold;
    font-family: sans-serif;
    background: #dce2f3;
    color: #222222;
}

.container {
  margin: 0 auto;
}


/* Custom page header */
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
/*elegantshadow modified from Juan Brujo http://codepen.io/juanbrujo/pen/yGpAK*/
  .elegantshadow {
    background: aliceblue;
    margin-bottom: 10px;
    margin-top: opx;
    padding-bottom: 30px;
    padding-top: 15px;
    color: darkblue;
    letter-spacing: .15em;
    text-shadow:
      1px -1px 0 #949392,
      -1px 2px 1px #999897,
      -2px 4px 1px #9e9c9c,
      -3px 6px 1px #a3a1a1,
      -4px 8px 1px #a8a6a6,
      -5px 10px 1px #adabab,
      -6px 12px 1px #b2b1b0,
      -7px 14px 1px #b7b6b5,
      -8px 16px 1px #bcbbba,
      -9px 18px 1px #c1bfbf,
      -10px 20px 1px #c6c4c4,
      -11px 22px 1px #cbc9c8,
      -12px 24px 1px #cfcdcd,
      -13px 26px 1px #d4d2d1,
      -14px 28px 1px #d8d6d5,
      -15px 30px 1px #dbdad9,
      -16px 32px 1px #dfdddc,
      -17px 34px 1px #e2e0df,
      -18px 36px 1px #e4e3e2;
  }

.internetUpdate {
  color: #234bea;
  text-align: left;
  margin-top: 0px;
  font-weight: 100;
  font-size: smaller;
}

/*modified from http://codepen.io/moklick/pen/tAlJB*/
.internetUpdateOffline {
  color: red;
  text-align: left;
  margin-top: 0px;
  font-weight: 100;
  font-size: smaller;
  animation:blur .75s ease-out;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}
@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}

.filterText{
  color: #234bea;
  text-align: left;
  margin-top: 0px;
  font-weight: 100;
  font-size: large;

}

.lineNoBottomBorder {
  margin-bottom: 3px;
}

.waitingWheel {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.navItems,
.section {
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
}

.lambImgs {
  cursor: pointer;
}

.menuRow {
  background-color: rgb(245,229,207);
}

.headerText {
  padding-right: 25px;
}

/*modal*/

#modal {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
  border: thin #000 solid;
  background-color:#fff;
  z-index:3; /* places the modal dialog on top of everything else */
  position:fixed;
  top:25%;
  left:25%;
  display:none;
}

.modal-body {
  padding-bottom: 0px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.modalPic {
  display: block;
  max-height: 100%;
  width: 75%;
  margin: 0 auto;
}

.modalMessage {
  margin: 0px;
}

.modal-content {
  max-width: 500px;
}

.screen-reader-offscreen {
  position:absolute;
  left:-999px;
  width:1px;
  height:1px;
  top:auto;
}

.submitBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 140px;
    margin-left: -70px;
    left: 50%;
}

.closeBtn {
  margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 80px;
    margin-left: -40px;
    left: 70%;
}

#form {
  margin: 0 auto;
    max-width: 90%;
}

h2 {
  text-align: center;
  color: #1B0605;
  margin-left: 15px;
  font-size: 18px;
}

 /*end modal*/

.viewBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 60px;
  margin-left: -30px;
  left: 50%;
  font-size: 10px;
  text-align: center;
  background-color: antiquewhite;

}

.soldBtn,
.bokBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 120px;
  margin-left: -60px;
  left: 50%;
  background-color: antiquewhite
}

.soldBtn {
  cursor: default;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.selectedFilter {
  color: red;
}

hr {
  border-width: 5px;
  border-color: #bcbbbb;
  margin-bottom: 30px;
  margin-top: 0px;
}

#menu {
  cursor: pointer;
}

figcaption {
  font-weight: bold;
}

span {
  font-style: italic;
  font-weight: 300;
}

.threePicSold {
    opacity: 0.3;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    max-width: 100%;
}

.threePic {
    max-width: 100%;
}

.threePic img {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.bokBtn:focus {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  color: #234bea;
}

.viewBtn:focus {
  color: #234bea;
}

.bokBtn:focus + img{
opacity: 1.0!important;
filter: alpha(opacity=100);
}

.threePic:hover img {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


p {
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
  padding-left: 10px;
  padding-right: 10px;
}

.footerText {
  color: #234bea;
}

.clickable {
    cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footerimg {
  margin-left: 10px;
  margin-right: 10px;
}


