
<section class="row" id="reserveItems" aria-hidden="false">
	<div class="col-xs-6 col-sm-3 col-md-2 section" id="mainPict" ng-repeat="(key, details) in productInfo.products">
		<div class="productEntry" ng-class="{true: 'threePicSold', false:'threePic clickable'}[details.sold==true]">
			<paper-button ng-if="details.sold==true" class="bokBtn" raised id="soldBtn" tabindex="-1">Booked</paper-button>
			<img ng-if="details.sold==true" class="img-responsive" src="images/lamm{{details.nr}}-small.jpg"  alt="lambskin{{details.nr}}">

			<paper-button ng-if="details.sold==false" class="bokBtn clickable" raised ng-click="productInfo.modalToggle(details)" aria-label="to booking modal window for skin{{details.nr}}">To booking</paper-button>
			<img ng-if="details.sold==false" class="img-responsive lambImgs clickable"  src="images/lamm{{details.nr}}-small.jpg"  alt="lambskin{{details.nr}}"  ng-click="productInfo.modalToggle(details)" tabindex="-1">
 		<hr>
		</div>
	</div>
</section>



        <!-- Modal -->

<div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"  aria-describedby="modalDescription" aria-hidden="true" >
  	<div class="modal-dialog">
   		 <div class="modal-content">
   		 	<div id="modalDescription" class="screen-reader-offscreen">"Beginning of dialog window. To book lambskin nr {{productInfo.selectedProduct.nr}}" fill in the form. Escape will cancel and close the window."</div>
      		<div class="modal-body">
        		<img class="img-responsive" src="images/lamm{{productInfo.selectedProduct.nr}}-medium.jpg" alt="lamm {{productInfo.selectedProduct.nr}}">
        		<h2 id="modalTitle" class="textRes">I want to reserve this product</h2>
      		</div>
      		<form is="iron-form" id="form">
				  <paper-input type="text" ng-model="productInfo.reservationForm.name" label="Your name" required auto-validate autocomplete="on" autofocus error-message="Fill in your name if you want to reserve this skin" class="accountRequired" aria-label="Fill in your name if you want to reserve this skin" role="input"></paper-input>
				  <gold-email-input ng-model="productInfo.reservationForm.email" label="your emailadress" auto-validate class="accountRequired" aria-label="Fill in your email adress if you want to reserve this skin" role="input"></gold-email-input>
				  <paper-button type="submit" id="reserveBtn" class="submitBtn" raised ng-click="productInfo.submitForm(productInfo.selectedProduct)" ng-show="productInfo.showButton" aria-label="reserve this skin for me">Reserve</paper-button>
				  <paper-button class="closeBtn" data-dismiss="modal" raised ng-click="productInfo.closeModal()" aria-label="close the modal window">Close</paper-button>
			</form><br>
			<p >{{productInfo.messageToBuyer}}</p>
    	</div>
  	</div>
</div>

